.main {
  min-height: 463px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: auto;
}

.table.table-md.table-striped.table-bordered.table-hover {
  margin: 0;
  min-width: 700px;
}

.pagination {
  margin: 5px 0;
  display: flex;
  justify-content: center;
}
