$color-dg: rgb(128, 138, 157);
$color-green: #16c784;
$color-red: #ea3943;
$color-dg: rgb(128, 138, 157);

.table {
  &__items {
    vertical-align: middle;
    cursor: pointer;
  }
  &__item {
    font-weight: 600;
    transition: 0.2s;
    &_color_dg {
      color: $color-dg !important;
    }
    &_color_red {
      color: $color-red !important;
    }
    &_color_green {
      color: $color-green !important;
    }
  }
}

@media (max-width: 700px) {
  .table {
    &__item.h5 {
      font-size: 14px !important;
    }
    &__item.h4 {
      font-size: 16px !important;
    }
  }
}
