$color-dg: rgb(128, 138, 157);
$color-green: #16c784;
$color-red: #ea3943;
$color-dg: rgb(128, 138, 157);

.table {
  &__items {
    vertical-align: middle;
    cursor: pointer;
  }
  &__item {
    font-weight: 600;
    &_color_dg {
      color: $color-dg !important;
    }
    &_color_red {
      color: $color-red !important;
    }
    &_color_green {
      color: $color-green !important;
    }
  }
}
