$color-b: #1f1e1c;
$color-g: #e1e3e4;
$color-w: #fff;
$br: 5px;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Fira Sans", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  color: $color-b;
  font-size: 12px;
}

.app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  &_bg-color_b {
    background-color: $color-b;
  }
}

.wrap {
  width: 95%;
  height: 90%;
  border-radius: $br;
  &_bg-color_w {
    background-color: $color-w;
  }
}

.preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.spinner-border {
  width: 4rem;
  height: 4rem;
}
